/* for the multiprompt */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  text-align: center;
  background-color: rgb(249, 249, 249);
  margin: 15% auto;
  padding: 20px;
  width: 45%;
  text-align: center;
  border: 2px solid black;
}

.close:hover {
  cursor: pointer;
}

.shaker {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* /modal stuff */

body {
  background: linear-gradient(135deg, rgb(209, 209, 209), rgb(73, 73, 73));
  background-repeat: no-repeat;
  background-attachment: fixed;
}